@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 17% 95%; /* #F0F2F5 */
    --foreground: 220 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 220 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 10% 20%;
    --primary: 256 63% 59%; /* #7957D6 */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 15% 90%;
    --secondary-foreground: 220 10% 20%;
    --muted: 220 15% 90%;
    --muted-foreground: 220 10% 50%;
    --accent: 257 69% 71%; /* #A584E5 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 88%;
    --input: 220 15% 92%;
    --ring: 256 63% 59%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 220 10% 10%;
    --foreground: 220 20% 96%;
    --card: 220 10% 15%;
    --card-foreground: 220 20% 96%;
    --popover: 220 10% 15%;
    --popover-foreground: 220 20% 96%;
    --primary: 256 63% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 10% 20%;
    --secondary-foreground: 220 20% 96%;
    --muted: 220 10% 20%;
    --muted-foreground: 220 20% 80%;
    --accent: 257 69% 71%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 25%;
    --input: 220 10% 25%;
    --ring: 256 63% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes move-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
